@purple: #714ce8;
@green: #4ce892;

.container {
    max-width: 600px;
    margin: 40px auto;
    color: #fff;
}

h1 {
    border-bottom: 1px solid #dee2e6;
    font-size: 2.2rem;
    padding-bottom: 0.5em;
}

p {
    font-size: 1.2rem;
    line-height: 1.25em;
}

strong {
    font-weight: bold;
    color: @purple;
}

.green {
    color: @green;
}

code {
    display: block;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    background-color: #eff0f1;
    padding: 8px;
    color: #303336;
    border-radius: 4px;
    overflow: auto;
    white-space: nowrap;
    font-size: 0.9rem;
    span {
        color: #787878;
    }
}

.sign-methods-btn {
    border-radius: 4px;
    padding: 8px;
    display: block;
    margin-right: 8px;
    border: none;
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
}

.logout-col {
    background-color: @purple;
}

button {
    font-size: 1.2rem;
    line-height: 1.25em;
    color: #fff;
}